.tree {
    margin: auto;
    padding: 0 0 0 9px;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}
.tree:before {
    display: inline-block;
    content: "";
    position: absolute;
    top: -20px;
    bottom: 16px;
    left: 0;
    z-index: 1;
    /*border: 1px dotted #67b2dd;
    border-width: 0 0 0 1px;*/
}
.tree .tree-branch-name,
.tree .tree-item-name {
    cursor: pointer;
}
.tree .tree-branch {
    width: auto;
    min-height: 20px;
    cursor: pointer;
}
.tree .tree-branch .tree-branch-header {
    position: relative;
    height: 20px;
    line-height: 20px;
}
.tree .tree-branch .tree-branch-header:hover {
    background-color: #F0F7FC;
}
.tree .tree-branch .tree-branch-header .tree-branch-name,
.tree .tree-item .tree-item-name {
    display: inline;
    z-index: 2;
}
.tree .tree-branch .tree-branch-header > .tree-branch-name > .ace-icon:first-child,
.tree .tree-item > .tree-item-name > .ace-icon:first-child {
    display: inline-block;
    position: relative;
    z-index: 2;
    top: -1px;
}
.tree  .tree-branch .tree-branch-header > .tree-branch-name > .ace-icon.selectable {
    color: #F9E8CE;
    width: 13px;
    height: 13px;
    line-height: 13px;
    font-size: 11px;
    text-align: center;
    border-radius: 3px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    background-color: #FAFAFA;
    border: 1px solid #CCC;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    top: -1px;
    display: inline-block;
    position: relative;
    margin-left: 3px;
}
.tree .tree-selected .tree-branch-header > .tree-branch-name > .ace-icon.selectable {
    background-color: #F9A021;
    border-color: #F9A021;
    color: #FFF;
}
.tree .tree-branch > .tree-branch-header > .tree-branch-name > .tree-label {
    margin-left: 2px;
}
.tree .tree-branch > .tree-branch-header > .tree-branch-name > .ace-icon:first-child {
    margin: -2px 0 0 -2px;
}
.tree .tree-branch:last-child:after {
    display: inline-block;
    content: "";
    position: absolute;
    z-index: 1;
    top: 15px;
    bottom: 0;
    left: -15px;
    border-left: 1px solid #FFF;
}
.tree .tree-branch .tree-branch-children {
    margin: 0 0 0 23px;
    padding: 0;
    position: relative;
}
.tree .tree-branch .tree-branch-children:before {
    display: inline-block;
    content: "";
    position: absolute;
    z-index: 1;
    top: -14px;
    bottom: 16px;
    left: -14px;
    /*border: 1px dotted #67b2dd;
    border-width: 0 0 0 1px;*/
}
.tree .tree-item {
    position: relative;
    height: 20px;
    line-height: 20px;
    cursor: pointer;
}
.tree .tree-item:hover {
    background-color: #F0F7FC;
}
.tree .tree-item > .tree-item-name > .ace-icon:first-child {
    margin-right: 3px;
}
.tree .tree-item > .tree-item-name > .tree-label > .ace-icon:first-child {
    margin-left: 3px;
    margin-right: 3px;
}
.tree .tree-item > .ace-icon:first-child {
    margin-top: -1px;
}
.tree .tree-branch,
.tree .tree-item {
    position: relative;
    list-style: none;
}
.tree .tree-branch:before,
.tree .tree-item:before {
    display: inline-block;
    content: "";
    position: absolute;
    top: 14px;
    left: -13px;
    width: 18px;
    height: 0;
    /*border-top: 1px dotted #67b2dd;*/
    z-index: 1;
}
.tree .tree-selected {
    background-color: rgba(98, 168, 209, 0.1);
    color: #6398B0;
}
.tree .tree-selected:hover {
    background-color: rgba(98, 168, 209, 0.1);
}
.tree .tree-item,
.tree .tree-branch {
    border: 1px solid #FFF;
}
.tree .tree-branch .tree-branch-header {
    border-radius: 0;
}
.tree .tree-item,
.tree .tree-branch .tree-branch-header {
    margin: 0;
    padding: 5px;
    color: #4D6878;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.tree .tree-item > .tree-item-name > .ace-icon:first-child {
    color: #F9E8CE;
    width: 13px;
    height: 13px;
    line-height: 13px;
    font-size: 11px;
    text-align: center;
    border-radius: 3px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    background-color: #FAFAFA;
    border: 1px solid #CCC;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.tree .tree-selected > .tree-item-name > .ace-icon:first-child {
    background-color: #F9A021;
    border-color: #F9A021;
    color: #FFF;
}
.tree .tree-plus.ace-icon:first-child,
.tree .tree-minus.ace-icon:first-child {
    display: inline-block;
    font-style: normal;
    border: 1px solid #DDD;
    vertical-align: middle;
    height: 11px;
    width: 11px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    text-align: center;
    border: 1px solid #8BAEBF;
    line-height: 10px;
    background-color: #FFF;
    position: relative;
    z-index: 2;
}
.tree .tree-plus.ace-icon:first-child:before,
.tree .tree-minus.ace-icon:first-child:before {
    content: "";
    display: block;
    width: 7px;
    height: 0;
    border-top: 1px solid #4D6878;
    position: absolute;
    top: 5px;
    left: 2px;
}
.tree .tree-plus.ace-icon:first-child:after {
    content: "";
    display: block;
    height: 7px;
    width: 0;
    border-left: 1px solid #4D6878;
    position: absolute;
    top: 2px;
    left: 5px;
}
.tree .tree-unselectable .tree-item > .tree-item-name > .tree-label > .ace-icon:first-child {
    color: #5084A0;
    width: 13px;
    height: 13px;
    line-height: 13px;
    font-size: 10px;
    text-align: center;
    border-radius: 0;
    background-color: transparent;
    border: none;
    box-shadow: none;
}
.tree .ace-icon[class*="-down"] {
    transform: rotate(-45deg);
}
.tree .ace-icon[class*="-download"] {
    transform: none;
}
.tree .fa-spin {
    height: auto;
}
.tree .tree-loading {
    margin-left: 36px;
}
.tree img {
    display: inline;
    veritcal-align: middle;
}

.ztree li{
    line-height:30px!important;
    outline: 0;
    list-style: none;
    text-decoration: none;
}

.ztree:before{
    display: inline-block;
    content: "";
    top: 0;
    bottom: 0px;
    left: 0px;
    z-index: 1;
   /* border: 1px dotted #67B2DD;
    border-width: 0 0 0 1px;*/
}
.ztree ul{
    position: relative!important;
    margin: 0;
    padding-left: 10px;
    margin-left: 6px;
    /*top: -6px;
    padding-top: 10px;
    padding-bottom: 10px;*/
}
.ztree li{
    position:relative!important;
    padding-left: 4px;
    margin-top:1px;
}
.ztree ul:before,.ztree li:before{
    position:absolute!important;
}

.ztree{
    padding:0;
}
span.icon-folder {
    margin-left: 7px;
    position: absolute!important;
    top: 10px;
}
/* 复选框样式 */
.ztree .chk.fa.fa-check{
    background-color: #F9A021;
    border-color: #F9A021;
    color: #FFF;
}
.ico_close,.a_docu{
    margin-right: 6px;
    font-size: 16px;
    top: 2px;
    position: relative;
}
/* 折叠时文件夹的颜色 */
.ftclose{
    color:#FF892A!important;
}
/* 打开时文件夹的颜色 */
.ftopen{
    color:brown!important;
}
/* 最后一项开头图标颜色 */
.a_docu{
    /*color:#478FCA!important;*/
}
.node_name{
    position: relative;
    top: 1px;
}
.node_name input{
    height:18px;
}
.ztree li:before{
    display: inline-block;
    content: "";
    top: 16px;
    left: -2px;
    width: 26px;
    height: 0;
    /*border-top: 1px dotted #67B2DD;*/
    z-index: 1;
}
.ztree ul:before{
    display: inline-block;
    content: "";
    top: -9px;
    bottom: 24px;
    left: 7px;
    z-index: 1;
    /*border: 1px dotted #67B2DD;
    border-width: 0 0 0 1px;*/
}
.ztree li a{
    cursor: pointer;
    margin-left: 25px;
}
.activeLiClick{
    background:rgba(98,168,209,.1);
}
.activeLiMouse{
    background:rgba(98,168,209,.1);
}
/*.curSelectedNode{
    background:rgba(98,168,209,.1);
}*/
.curSelectedNode{
    background: #e5f0fb;
    border-color: #BBD4EF #fff;
}
.ztree li span.button.add {
    margin-left: 2px;
    margin-right: -1px;
    background-position: -144px 0;
    vertical-align: top;
}
.ztree .chk{
    color: #F9E8CE;
    width: 13px;
    height: 13px;
    line-height: 13px;
    font-size: 11px;
    border-radius: 3px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    background-color: #FAFAFA;
    border: 1px solid #CCC;
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
    margin:0 6px 0 25px;
    text-align: center;
}
.ztree .chk.focus{
    border:solid 1px #ff7c34;
}
.ztree .chk.fa-check {
    background-color: #F9A021;
    border-color: #F9A021;
    color: #FFF;
}
.ztree li a span:first-child{
    position: relative;
    top: 1px;
    margin-right: 2px;
    margin-left: -1px;
}
.ztree li a span:last-child{
    position: relative;
    top: 1px;
    margin-left: 22px;
}
.iconfolder{
    font-size: 20px;
    color: #FFCA28;
}

.searchAreaBox{
    margin-left:50px;
    width:300px;
}
.searchAreaBox{
    min-height:56px;
    padding-right: 12px;
}
.searchAreaBox span,.searchAreaBox .searchArea{
    display:block;
    float:left;
}
.searchAreaBox .searchArea{
    position:relative;
    margin-top:11px;
    margin-bottom:11px;
    width:100%;
}
.searchAreaBox .searchArea input{
    width:100%;
}
.searchAreaBox .searchArea i{
    display: block;
    position: absolute;
    right: 5px;
    top: 7px;
    font-size: 20px;
    color:#d5d5d5;
    cursor:pointer;
}
.searchAreaBox .searchArea i:hover{
    color:#669fc7;
}
.searchAreaBox span{
    line-height:64px;
    width:30%;
}